<a
    *ngIf="!item.children || item.children.length === 0"
    mat-list-item
    [matTooltip]="item.tooltip"
    matTooltipPosition="right"
    matTooltipClass="tooltip-on-top"
    [routerLink]="item.route"
    routerLinkActive="active-link"
>
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.title }}</span>
</a>

<a 
    *ngIf="item.children && item.children.length > 0"
    mat-list-item
    [matTooltip]="item.tooltip"
    matTooltipPosition="right"
    matTooltipClass="tooltip-on-top"
    (click)="onItemClicked()"
    [class.active-link]="isActive"
>
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.title }}</span>
</a>