<div class="sidebar-container">
    <div class="logo-wrapper">
        <img src="assets/img/isotipo-quantum.png" alt="Quantum Logo" />
    </div>

    <mat-nav-list>
        <shell-host-menu-item
            *ngFor="let item of menuItems; let i = index"
            [item]="item"
            [isActive]="isSubmenuOpen && selectedMenu === item"
            (itemClick)="toggleSubmenu($event)"
            [class]="'item-' + i">
        </shell-host-menu-item>
    </mat-nav-list>
</div>

<div class="submenu-panel" [class.open]="isSubmenuOpen" #submenuPanel>
    <ng-container *ngIf="selectedMenu && selectedMenu.children">
        <h3 class="submenu-title">{{ selectedMenu.tooltip }}</h3>
        <mat-divider></mat-divider>
        
        <shell-host-submenu-item [items]="selectedMenu.children"></shell-host-submenu-item>
    </ng-container>
</div>