<div class="sidebar-container">
    <div class="logo-wrapper">
        <img src="assets/logo.svg" alt="Quantum Logo" />
    </div>

    <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
        >
            <mat-icon matListItemIcon>dashboard</mat-icon>
            <span matListItemTitle>Dashboard</span>
        </a>

        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title class="d-flex align-items-center">
                    <mat-icon matListItemIcon>security</mat-icon>
                    <span>Seguridad</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <a mat-list-item routerLink="/seguridad/usuarios" routerLinkActive="active-link">
                <span matListItemTitle>Usuarios</span>
            </a>
            <a mat-list-item routerLink="/seguridad/perfiles" routerLinkActive="active-link">
                <span matListItemTitle>Perfiles</span>
            </a>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title class="d-flex align-items-center">
                    <mat-icon matListItemIcon>folder_managed</mat-icon>
                    <span>Maestras</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <a mat-list-item routerLink="/maestra/clientes" routerLinkActive="active-link">
                <span matListItemTitle>Clientes</span>
            </a>
            <a mat-list-item routerLink="/maestra/productos" routerLinkActive="active-link">
                <span matListItemTitle>Productos</span>
            </a>
        </mat-expansion-panel>
    </mat-nav-list>
</div>